amqp==5.3.1
annotated-types==0.7.0
anyio==4.12.0
asgiref==3.11.0
base58==2.1.1
billiard==4.2.4
celery==5.6.0
celery-types==0.23.0
certifi==2025.11.12
cffi==2.0.0
channels==4.3.2
channels_redis==4.3.0
charset-normalizer==3.4.4
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
coincurve==21.0.0
cryptography==46.0.3
cytoolz==1.1.0
Django==6.0
django-qrcode==0.3
django-redis==6.0.0
django-widget-tweaks==1.5.0
eth-hash==0.7.1
eth-typing==5.2.1
eth-utils==5.3.1
eth_abi==5.2.0
exceptiongroup==1.3.1
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
kombu==5.6.1
msgpack==1.1.2
packaging==25.0
parsimonious==0.10.0
pillow==12.0.0
prompt_toolkit==3.0.52
pycparser==2.23
pycryptodome==3.23.0
pydantic==2.12.5
pydantic_core==2.41.5
pyotp==2.9.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
qrcode==8.2
redis==7.1.0
regex==2025.11.3
requests==2.32.5
ruff==0.14.10
six==1.17.0
sqlparse==0.5.5
toolz==1.1.0
tronpy==0.6.1
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
urllib3==2.6.2
uvicorn==0.40.0
vine==5.1.0
wcwidth==0.2.14
websocket-client==1.9.0
websockets==15.0.1

fpdf2