{% load static %}
<!-- JAVASCRIPT -->
<script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/libs/simplebar/simplebar.min.js' %}"></script>
<script src="{% static 'assets/libs/node-waves/waves.min.js' %}"></script>
<script src="{% static 'assets/libs/feather-icons/feather.min.js' %}"></script>
<script src="{% static 'assets/js/pages/plugins/lord-icon-2.1.0.js' %}"></script>
<script src="{% static 'assets/js/plugins.js' %}"></script>
{#<!-- list.js min js -->#}
<!-- apexcharts -->
<script src="{% static 'assets/libs/apexcharts/apexcharts.min.js' %}"></script>

<!-- Swiper Js -->
<script src="{% static 'assets/libs/swiper/swiper-bundle.min.js' %}"></script>

<!-- CRM js -->
<script src="{% static 'assets/js/pages/dashboard-crypto.init.js' %}"></script>
<!-- App js -->
<script src="{% static 'assets/js/app.js' %}"></script>

