{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <!-- required meta -->#}
{#    <meta charset="UTF-8"/>#}
{#    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>#}
{#    <!-- #keywords -->#}
{#    <meta#}
{#            name="keywords"#}
{#            content="boot, Bootstrap, Forex and Stock Broker HTML Template"#}
{#    />#}
{#    <!-- #description -->#}
{#    <meta name="description" content="Forex and Stock Broker HTML Template"/>#}
{#    <!-- #title -->#}
{#    <title>Password</title>#}
{#    <!-- #favicon -->#}
{#    <link#}
{#            rel="shortcut icon"#}
{#            href="/static/assets/images/fav.png"#}
{#            type="image/x-icon"#}
{#    />#}
{#    <!-- ==== css dependencies start ==== -->#}
{#    <link#}
{#            href="https://cdn.quilljs.com/1.3.6/quill.snow.css"#}
{#            rel="stylesheet"#}
{#    />#}
{#    <link rel="stylesheet" href="/static/assets/css/style.min.css"/>#}
{#</head>#}
{#<body>#}
{#<!--  Preloader  -->#}
{#<div class="preloader">#}
{#    <span class="loader"></span>#}
{#</div>#}
{#<!-- end preloader -->#}
{##}
{#<!-- Scroll To Top Start-->#}
{#<button#}
{#        class="scrollToTop d-none d-md-flex d-center rounded"#}
{#        aria-label="scroll Bar Button"#}
{#>#}
{#    <i class="mat-icon fs-four nb4-color ti ti-arrow-up"></i>#}
{#</button>#}
{#<!-- Scroll To Top End -->#}
{##}
{#<!-- header-section start -->#}
{##}
{#<div class="two-column_logo d-none gap-3">#}
{#    <a href="index.html">#}
{#        <img src="/static/assets/images/text_logo.png" class="logo_light" alt="Logo "/>#}
{#        <img#}
{#                src="/static/assets/images/text_logo_dark.png"#}
{#                class="logo_dark"#}
{#                alt="Logo"#}
{#        />#}
{#    </a>#}
{#    <span class="material-symbols-outlined close_nav p-1 d-xl-none">#}
{#        close#}
{#      </span>#}
{#</div>#}
{##}
{##}
{#<!--header-section start-->#}
{#{% include 'sidebar_include/sidebar_include.html' %}#}
{#<!-- header-section end -->#}
{##}
{#<!-- main-body start -->#}
{#<div class="main-content">#}
{#    <div class="container-fluid">#}
{#        <div class="row">#}
{#            <div class="col-12">#}
{#                <div#}
{#                        class="top-area flex-wrap d-center justify-content-between gap-8 row-gap-3"#}
{#                >#}
{#                    <h2>Password</h2>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="row">#}
{#            <div class="col-12">#}
{#                <div class="n0-bg cus-rounded-1 p-4 p-lg-6 cus-border h-100">#}
{#                    <div#}
{#                            class="header-part d-flex flex-wrap justify-content-between align-items-center gap-8 row-gap-3 pb-5 pb-xxl-6 mb-5 mb-xxl-6"#}
{#                    >#}
{#                        <h4 class="fw-semibold">Change Password</h4>#}
{#                    </div>#}
{#                    <form id="change-password-form" method="POST" class="d-flex flex-column gap-5 gap-lg-6">#}
{#                        {% csrf_token %}#}
{##}
{#                        <div class="row g-5 g-lg-6">#}
{#                            <div class="col-sm-6">#}
{#                                <div class="single-input">#}
{#                                    <label class="fs-six-up fw-medium mb-2 mb-sm-4" for="old_password">Old#}
{#                                        Password</label>#}
{#                                    <div class="input-pass">#}
{#                                        <input type="password"#}
{#                                               class="fs-seven py-2 py-sm-3 ps-3 ps-sm-5 ps-lg-6 pe-10 pe-lg-13"#}
{#                                               id="old_password" name="old_password" placeholder="Old Password"#}
{#                                               value="{{ form.old_password.value|default_if_none:'' }}" required/>#}
{#                                        <span class="password-eye-icon"></span>#}
{#                                    </div>#}
{#                                    {% if form.old_password.errors %}#}
{#                                        <div class="text-danger mt-1">{{ form.old_password.errors.0 }}</div>#}
{#                                    {% endif %}#}
{#                                </div>#}
{#                            </div>#}
{##}
{#                            <div class="col-sm-6">#}
{#                                <div class="single-input">#}
{#                                    <label class="fs-six-up fw-medium mb-2 mb-sm-4" for="npassword">New Password</label>#}
{#                                    <div class="input-pass">#}
{#                                        <input type="password"#}
{#                                               class="fs-seven py-2 py-sm-3 ps-3 ps-sm-5 ps-lg-6 pe-10 pe-lg-13"#}
{#                                               id="npassword" name="new_password" placeholder="New Password"#}
{#                                               value="{{ form.new_password.value|default_if_none:'' }}" required/>#}
{#                                        <span class="password-eye-icon"></span>#}
{#                                    </div>#}
{#                                    {% if form.new_password.errors %}#}
{#                                        <div class="text-danger mt-1">{{ form.new_password.errors.0 }}</div>#}
{#                                    {% endif %}#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                        <div class="single-input">#}
{#                            <label class="fs-six-up fw-medium mb-2 mb-sm-4" for="conf_password">Confirm Password</label>#}
{#                            <div class="input-pass">#}
{#                                <input type="password" class="fs-seven py-2 py-sm-3 ps-3 ps-sm-5 ps-lg-6 pe-10 pe-lg-13"#}
{#                                       id="conf_password" name="confirm_password" placeholder="Confirm Password"#}
{#                                       value="{{ form.confirm_password.value|default_if_none:'' }}" required/>#}
{#                                <span class="password-eye-icon"></span>#}
{#                            </div>#}
{#                            {% if form.confirm_password.errors %}#}
{#                                <div class="text-danger mt-1">{{ form.confirm_password.errors.0 }}</div>#}
{#                            {% endif %}#}
{#                        </div>#}
{##}
{#                        <div class="d-flex gap-5 gap-lg-6 pt-4">#}
{#                            <button type="submit"#}
{#                                    class="btn_box py-2 py-lg-3 px-5 px-lg-6 cus-rounded-1 cus-border border-color">#}
{#                                Save Change#}
{#                            </button>#}
{#                            <button type="reset"#}
{#                                    class="btn_box btn_alt py-2 py-lg-3 px-5 px-lg-6 cus-rounded-1 cus-border border-color">#}
{#                                Cancel#}
{#                            </button>#}
{#                        </div>#}
{#                    </form>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="row">#}
{#            <div class="col-12">#}
{#                <div#}
{#                        class="two-factor n0-bg cus-rounded-1 p-4 p-lg-6 cus-border h-100"#}
{#                >#}
{#                    <div#}
{#                            class="header-part d-flex flex-wrap justify-content-between align-items-center gap-8 row-gap-3 pb-5 pb-xxl-6 mb-5 mb-xxl-6"#}
{#                    >#}
{#                        <h4 class="fw-semibold">Two-Factor Authentication</h4>#}
{#                    </div>#}
{#                    <div#}
{#                            class="d-flex flex-wrap flex-sm-nowrap gap-5 gap-lg-15 w-100"#}
{#                    >#}
{#                        <div#}
{#                                class="separator_line_dashed right pe-sm-5 pe-lg-15 d-flex flex-column gap-5 gap-lg-6 flex-fill"#}
{#                        >#}
{#                            <div class="d-center justify-content-between gap-6">#}
{#                                <div class="d-flex flex-column gap-2">#}
{#                      <span class="fw-medium fs-six-up"#}
{#                      >Authentication app</span#}
{#                      >#}
{#                                    <span class="fs-seven">Google auth app</span>#}
{#                                </div>#}
{#                                <div#}
{#                                        class="form-check form-switch d-flex align-items-center"#}
{#                                >#}
{#                                    <input#}
{#                                            class="form-check-input"#}
{#                                            type="checkbox"#}
{#                                            name="switch_make_public"#}
{#                                            checked#}
{#                                    />#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="d-center justify-content-between gap-6">#}
{#                                <div class="d-flex flex-column gap-2">#}
{#                                    <span class="fw-medium fs-six-up">Primary email</span>#}
{#                                    <span class="fs-seven"#}
{#                                    >E-mail used to send notifications</span#}
{#                                    >#}
{#                                </div>#}
{#                                <div#}
{#                                        class="form-check form-switch d-flex align-items-center"#}
{#                                >#}
{#                                    <input#}
{#                                            class="form-check-input"#}
{#                                            type="checkbox"#}
{#                                            name="switch_make_public"#}
{#                                    />#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="d-center justify-content-between gap-6">#}
{#                                <div class="d-flex flex-column gap-2">#}
{#                                    <span class="fw-medium fs-six-up">SMS Recovery</span>#}
{#                                    <span class="fs-seven"#}
{#                                    >Your phone number or something</span#}
{#                                    >#}
{#                                </div>#}
{#                                <div#}
{#                                        class="form-check form-switch d-flex align-items-center"#}
{#                                >#}
{#                                    <input#}
{#                                            class="form-check-input"#}
{#                                            type="checkbox"#}
{#                                            name="switch_make_public"#}
{#                                            checked#}
{#                                    />#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="d-flex flex-column gap-5 gap-lg-6 flex-fill">#}
{#                            <div class="d-center justify-content-between gap-6">#}
{#                                <div class="d-flex flex-column gap-2">#}
{#                      <span class="fw-medium fs-six-up"#}
{#                      >Authentication app</span#}
{#                      >#}
{#                                    <span class="fs-seven">Google auth app</span>#}
{#                                </div>#}
{#                                <div#}
{#                                        class="form-check form-switch d-flex align-items-center"#}
{#                                >#}
{#                                    <input#}
{#                                            class="form-check-input"#}
{#                                            type="checkbox"#}
{#                                            name="switch_make_public"#}
{#                                    />#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="d-center justify-content-between gap-6">#}
{#                                <div class="d-flex flex-column gap-2">#}
{#                                    <span class="fw-medium fs-six-up">Primary email</span>#}
{#                                    <span class="fs-seven"#}
{#                                    >E-mail used to send notifications</span#}
{#                                    >#}
{#                                </div>#}
{#                                <div#}
{#                                        class="form-check form-switch d-flex align-items-center"#}
{#                                >#}
{#                                    <input#}
{#                                            class="form-check-input"#}
{#                                            type="checkbox"#}
{#                                            name="switch_make_public"#}
{#                                            checked#}
{#                                    />#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="d-center justify-content-between gap-6">#}
{#                                <div class="d-flex flex-column gap-2">#}
{#                                    <span class="fw-medium fs-six-up">SMS Recovery</span>#}
{#                                    <span class="fs-seven"#}
{#                                    >Your phone number or something</span#}
{#                                    >#}
{#                                </div>#}
{#                                <div#}
{#                                        class="form-check form-switch d-flex align-items-center"#}
{#                                >#}
{#                                    <input#}
{#                                            class="form-check-input"#}
{#                                            type="checkbox"#}
{#                                            name="switch_make_public"#}
{#                                    />#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{#<!-- main end -->#}
{##}
{#<!-- Modal -->#}
{#{% include 'Theme_Setting/Theme_Setting.html' %}#}
{#<!-- Modal -->#}
{##}
{#<!-- Footer Area Start -->#}
{#<footer class="footer">#}
{#    <div class="col-12">#}
{#        <div#}
{#                class="footer__copyright justify-content-center justify-content-sm-between gap-10 row-gap-2"#}
{#        >#}
{#            <p class="copyright text-center">#}
{#                Copyright © <span id="copyYear"></span>#}
{#                <a href="https://themeforest.net/user/uiaxis" class="p1-color"#}
{#                >FinVista</a#}
{#                >. All Rights Reserved#}
{#            </p>#}
{#            <ul class="footer__copyright-conditions">#}
{#                <li><a href="terms-service.html">Privacy policy</a></li>#}
{#                <li><a href="terms-service.html">Terms & Conditions</a></li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#</footer>#}
{#<!-- Footer Area End -->#}
{##}
{#<!-- ==== js dependencies start ==== -->#}
{#<script src="/static/assets/js/plugins/plugins.js"></script>#}
{#<script src="/static/assets/js/plugins/apexcharts.min.js"></script>#}
{#<script src="/static/assets/js/plugins/custom_apexcharts.js"></script>#}
{#<script src="/static/assets/js/plugins/plugin-custom.js"></script>#}
{#<script src="/static/assets/js/main.js"></script>#}
{##}
{#<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>#}
{#<script>#}
{#    document.addEventListener("DOMContentLoaded", function () {#}
{#        const form = document.getElementById("change-password-form");#}
{#        const oldPassword = document.getElementById("old_password");#}
{#        const newPassword = document.getElementById("npassword");#}
{#        const confirmPassword = document.getElementById("conf_password");#}
{##}
{#        const showError = (input, messages) => {#}
{#            const container = input.closest(".single-input");#}
{#            let errorDiv = container.querySelector(".text-danger");#}
{#            if (!errorDiv) {#}
{#                errorDiv = document.createElement("div");#}
{#                errorDiv.classList.add("text-danger", "mt-1");#}
{#                container.appendChild(errorDiv);#}
{#            }#}
{#            if (Array.isArray(messages)) {#}
{#                errorDiv.textContent = messages.join(" and "); // نمایش در یک خط با "and"#}
{#            } else {#}
{#                errorDiv.textContent = messages;#}
{#            }#}
{#        };#}
{##}
{#        const clearError = (input) => {#}
{#            const container = input.closest(".single-input");#}
{#            const errorDiv = container.querySelector(".text-danger");#}
{#            if (errorDiv) errorDiv.textContent = "";#}
{#        };#}
{##}
{#        const validateNewPassword = () => {#}
{#            const val = newPassword.value;#}
{#            const errors = [];#}
{#            if (!val) return [];#}
{##}
{#            if (val.length < 8) errors.push("at least 8 characters long");#}
{#            if (!/[A-Z]/.test(val)) errors.push("one uppercase letter");#}
{#            if (!/\d/.test(val)) errors.push("one number");#}
{#            if (!/[!@#$%^&*(),.?\":{}|<>]/.test(val)) errors.push("special character");#}
{##}
{#            if (errors.length) errors[0] = "Password must be " + errors[0]; // اضافه کردن متن ابتدایی#}
{#            return errors;#}
{#        };#}
{##}
{#        newPassword.addEventListener("input", function () {#}
{#            const errors = validateNewPassword();#}
{#            if (errors.length) showError(newPassword, errors);#}
{#            else clearError(newPassword);#}
{##}
{#            if (confirmPassword.value && confirmPassword.value !== newPassword.value) {#}
{#                showError(confirmPassword, "Passwords do not match");#}
{#            } else {#}
{#                clearError(confirmPassword);#}
{#            }#}
{#        });#}
{##}
{#        confirmPassword.addEventListener("input", function () {#}
{#            if (confirmPassword.value && confirmPassword.value !== newPassword.value) {#}
{#                showError(confirmPassword, "Passwords do not match");#}
{#            } else {#}
{#                clearError(confirmPassword);#}
{#            }#}
{#        });#}
{##}
{#        oldPassword.addEventListener("input", function () {#}
{#            if (!oldPassword.value) showError(oldPassword, "Old password is required");#}
{#            else clearError(oldPassword);#}
{#        });#}
{##}
{#        form.addEventListener("submit", function (e) {#}
{#            let hasError = false;#}
{##}
{#            [oldPassword, newPassword, confirmPassword].forEach(clearError);#}
{##}
{#            if (!oldPassword.value) {#}
{#                showError(oldPassword, "Old password is required");#}
{#                hasError = true;#}
{#            }#}
{##}
{#            const newPassErrors = validateNewPassword();#}
{#            if (!newPassword.value) {#}
{#                showError(newPassword, "New password is required");#}
{#                hasError = true;#}
{#            } else if (newPassErrors.length) {#}
{#                showError(newPassword, newPassErrors);#}
{#                hasError = true;#}
{#            }#}
{##}
{#            if (!confirmPassword.value) {#}
{#                showError(confirmPassword, "Confirm password is required");#}
{#                hasError = true;#}
{#            } else if (confirmPassword.value !== newPassword.value) {#}
{#                showError(confirmPassword, "Passwords do not match");#}
{#                hasError = true;#}
{#            }#}
{##}
{#            if (oldPassword.value && newPassword.value && oldPassword.value === newPassword.value) {#}
{#                showError(newPassword, "New password must be different from the old password");#}
{#                hasError = true;#}
{#            }#}
{##}
{#            if (hasError) e.preventDefault();#}
{#        });#}
{#    });#}
{##}
{#</script>#}
{##}
{#</body>#}
{#</html>#}
